{% load forum_extras %}
{% load i18n %}

{% block header_contents %}
<div id="djangobbwrap">
<div id="djangobbindex" class="djangobb">
<div id="brdheader" class="block">
    <div class="box">
        <div id="brdtitle" class="inbox">
            {% block header_title %}
            <h1><span><a href="{% url 'slimbb:index' %}">{{ forum_settings.HEADER|safe }}</a></span></h1>
            {% endblock %}
        </div>
        <div id="brdmenu" class="inbox">
            <ul>
            {% block header_menu %}
                <li id="navindex"><a href="{% url 'slimbb:index' %}">{% trans "Index" %}</a></li>
                <li id="navsearch"><a href="{% url 'slimbb:search' %}">{% trans "Search" %}</a></li>
                {% if user.is_superuser %}
                    <li id="navadmin"><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li id="navprofile"><a href="{% url 'slimbb:forum_profile' user.username %}">{% trans "Profile" %}</a></li>
                {% endif %}
            {% endblock %}
            </ul>
        </div>
        <div id="brdwelcome" class="inbox">
            {% block header_welcome %}
            <ul class="conl">
                {% if user.is_authenticated %}
                    <li>{% trans "Logged in as" %} <strong>{{ user.username }}</strong></li>
                    <li>{% trans "Last visit:" %} {% forum_time user.last_login %}</li>
                {% else %}
                    <li>{% trans "You are not logged in." %}</li>
                {% endif %}
                {% if user.is_superuser and reports %}
                    <li class="reportlink"><strong><a href="{% url 'admin:index' %}">{% trans "There are new reports" %} ({% new_reports %})</a></strong></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="conr">
                    <li><a href="{% url 'slimbb:search' %}?action=show_new">{% trans "Show new posts since last visit" %}</a></li>
                    <li><a href="{% url 'slimbb:misc' %}?action=markread">{% trans "Mark all topics as read" %}</a></li>
                </ul>
            {% endif %}
            <div class="clearer"></div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
