{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block content %}
<div id="idx1" class="blocktable">
{% for iter in cats %}
	<h2 id="category_head_{{ iter.id }}">
		<a class="toggle" href="#">Toggle shoutbox</a>
		<span>
			{{ iter.cat }}
		</span>
	</h2>
	<div class="box" id="category_body_{{ iter.id }}">
		<div class="inbox">
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="tcl" scope="col">{% trans "Forum" %}</th>
						<th class="tc2" scope="col">{% trans "Topics" %}</th>
						<th class="tc3" scope="col">{% trans "Posts" %}</th>
						<th class="tcr" scope="col">{% trans "Last post" %}</th>
					</tr>
				</thead>
				<tbody>
				{% for forum in iter.forums %}
					{% include 'djangobb_forum/forum_row.html' %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}
